.contact-form {
        width: 20rem;
        max-width: 90%;
        margin : auto;
        margin-top: 3rem;
        border : 2px solid orange;
        padding : 1rem 1rem ;
        border-radius: 5px;
      }

      .form-control label,
      .form-control input {
        display: block;
        width: 100%;
      }

      .form-control {
        margin : 1rem 0 ;
      }

      .form-control input {
        border : 1px solid #dbc441;
        font : inherit;
        border-radius: 5px;    
      }

      button {
        
        font : inherit;
        border : 1px solid #3e00a1;
        color : #3e00a1;
        background-color: white;
        border-radius: 4px;
        cursor: pointer;
      }

      button:hover,
      button:active {
        background-color: #3e00a1;
        color : white ;
      }